body {
    background-color: rgb(50, 75, 115);
}

#nav {
    font-family: Helvetica;
    background-color: #272D33;
    font-size: 32px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav div{
    color: white;
}

img {
    width: 80px;
}

.items:hover {
    transition: all 0.5s ease-in-out;
    color: gray;
    opacity: 0.5;
}

a {
    width: 20%;
    text-align: center;
    text-decoration: none;
}
 
hr {
    border-top: 150px solid rgb(0, 25, 107);
}

.Link {
    font-family: "Lucida Console";
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 15%;
}

a {
    color: rgb(255, 3, 255);
}

#text{
    background-color: rgb(142, 24, 158, .7);
    border-radius: 20px;
    padding: 10px;
    width: 500px;
    color: white;
}

#box{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

#about {
    font-size: 20px;
    font-family: "Audiowide", sans-serif;
}


@media(max-width: 530px) {
    #nav {
        flex-direction: column;
        align-items: center;
    }
    #box {
        font-size: 15px;
    }
    #about {
        font-size: 15px;
    }
    .Link {
        font-size: 15px;
    }
    .linke, a{
        width:130px;
    }
    hr{
        margin-left:25px;
        margin-right:25px;
    }
}